* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: black;
}

p, h1, h2, li {
    color: white;
}

img {
    width: 335px;
    height: 300px;
    border-radius: 100%;
}

nav {
    padding: 15px;
}