* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    padding-left: 40px; /* O reset (*) remove as "bolinhas brancas"/padding padrão */
}

body {
    background-color: black;
}

p, h1, h2, li {
    color: white;
    padding: 7px;
}

img {
    width: 320px;
    height: 300px;
    border-radius: 100%;
}

#container {
    display: flex; /* Transformando em flexbox */
    justify-content: center;
}

nav {
    padding: 10px;
    display: flex; 
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
}

a {
    color: white;
    border: 3px solid white;
    margin: 10px;
    padding: 5px;
    text-decoration: none;
    border-radius: 10px;
}

a:hover {
    background-color: white;
    color: black;
    transition: .3s;
}