* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Arial, sans-serif;
    background-color: var(--background);
}

:root {
    --background: rgb(185, 182, 182);
    --container: #a0a0a0;
    --input: #e0e0e0;
}

body {
    padding: 20px;
}

.container {
    display: flex;
    gap: 30px;
    padding: 20px;
}

fieldset {
    border: 2px solid var(--container);
    border-radius: 8px;
    padding: 15px;
    box-shadow: 1px 1px 2px white;
}

legend {
    font-weight: bold;
    padding: 0 10px;
}

th, td {
    padding: 5px 15px;
    text-align: left;
}

.price {
    text-align: center;
    font-weight: bold;
}

input[type="number"] {
    width: 50px;
    background-color: var(--input);
    border: 1px solid transparent;
    padding: 1px;
    text-align: center;
}

.pagamento {
    min-width: 250px;
    height: 15vh;
}

.parcelas {
    display: flex;
    align-items: center;
    gap: 10px;
}

select {
    padding: 2px;
    background-color: var(--input);
}

label {
    padding: 5px;
    margin-bottom: 5px;
}

button {
    padding: 10px;
    background-color: var(--input);
    cursor: pointer;
    border: transparent;
    border-radius: 8px;
    font-weight: bold;
    box-shadow: 0px 0px 14px 1px black;
}

button:hover {
    transform: scale(1.03);
    transition: .4s
}

.container2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}